h1{
  color: black;
  font-size: 40pt;
  margin-left: 30%;
}
form {
  margin-left: 35%;
  margin-right: 35%;
}
input[type="text"], input[type="password"] {
  box-sizing: border-border-box;
  width: 100%;
  margin-bottom: 10px;
}
input[type="submit"] {
  box-sizing: border-box;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}
